.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: blue;
    
    }

body{
    margin:0px;
background-image: url("lib.jpg");
resize:"fit";
    }

.bodyimg{
        position: relative;
        margin-top: 60px;
        margin-left: 400px;
        justify-content: center;
        color:white;
        font-weight: bold;
        font-size: 40px;
        }    

.text{
    margin-left: 450px;
    margin-top: 100px;
    justify-content: center;
        color:white;
        font-weight: bold;
        font-size: 30px;
} 

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    }

    .grid img{
        border: 2px solid black;
        border-radius: 50px;
        }

 

.book {
        border-radius: 20px;
        background-color: #ffffff;
        padding: 30px;
        margin: 25px;
        width:300px;
        height:500px;
        font-family: fantasy;
        }

.book:hover{
            transform: scale(1.2);
            }           
